.acaiPag {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    background-image: url("../../../public/assets/images/Acai.webp");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;


    .tituloAcai {
        background-color: rgb(124, 87, 124);
        display: flex;
        padding: 20px;
        width: 25%;
        border-radius: 10em;
        border: double 10px;
        justify-content: center;
        


        h1 {
            font-size: 3em;
            color: rgb(80, 167, 80);
            text-shadow:
                -1px -1px 0px #0000,
                -1px 1px 0px #000,
                1px -1px 0px #ffffff8a,
                1px 0px 0px #ffffff81;

        }
    }

    .eita {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .inputsAcai {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 4em;
        border: solid 2px;
        width: 30%;
        background-color: white;
        height: 25vh;
        align-items: center;
        font-weight: bold;
        text-align: center;

        input {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            width: 222px;
        }

    }

}