.sorvPag{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    background-image: url("../../../public/assets/images/Acai.webp");
    align-items: center;
    height: 100vh;
}